{{#each this}}
<li class="list-info-country">
	<h1 class="name">{{name}}</h1>
	<div class="container">
		<div class="info list">
			<p class="capital"><span class="highlight">Capital: {{capital}}</span></p>
			<p class="capital"><span class="highlight">Population: {{population}}</span></p>
			<p class="languages highlight">Languages:</p>
			<ul class="list-language">
				{{#each languages}}
				<li class="item-language">{{name}}</li>
				{{/each}}
			</ul>
		</div>
		<img src="{{flag}}" alt="flag" class="flag">
	</div>
</li>
{{/each}}